.tab-container{
    display:flex;
}
.tab{
    padding:10px 20px;
    border:1px solid #7cb0e338;
    background-color:#c55353;
    cursor:pointer;
}
.tab.active{
    background-color:#ccc;
}
.content-container{
    margin-top:10px;
    padding:20px;
    border:1px solid #ccc;
}